<h1>アトラクション口コミ</h1>
<h3>一覧ページ</h3>
<%= link_to "新規投稿へ", new_tweet_path %>


<% if user_signed_in? %>
  <%= link_to "マイページへ", user_path(current_user.id) %>
<% end %>

<div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">

      <%= t.user.email %>

  
      
        <%= t.name %>
        <%= t.access %>
        <%= t.comments %>
      <% if t.image.attached? %> 
      <%= image_tag t.image, size: "250x200" %> 
      <% else %>
      <%= image_tag "default.png", size: "250x200" %> 
      <% end %>

    </div>
    



    
  <% end %>
</div>
<h1>絶叫レベル診断スタート</h1>
<%= link_to "診断を始める", new_perfume_path, class: "link" %>

<h1>アトラクション評価</h1>
<%= link_to '評価を始める', lectures_index_path %>


 